body{
	padding-top: 40px;
	font-family: Nino Bold;
	background-color: #f8f8f8;
}
.left{
	float: left;
}
.right{
	float: right;
}
.clear{
	clear: both;
}
.nino{
	font-family: Nino Bold;
}
.navbar-nav > li > a,.navbar-brand{
	padding: 30px 25px;
}

form{

}
input[type="text"],input[type="password"]{
	width: 200px;
}
.form-horizontal .control-label{
	text-align: left;
}

.hello{
	margin-bottom: 30px;
}
.mon{
	font-weight: bold;
	text-transform: uppercase;
	color: #E04836;
}
.before{
	display: inline-block;
	width: 140px;
	margin-right: 30px;
}
.item{
	margin-bottom: 15px;
}
.center{
	width: 650px;
	margin: 0 auto;
	margin-top: 40px;
}
.logout{
	color: #5696BC;
}
.radio label, .checkbox label{
	padding-left: 0;
}
.icheckbox_square-red{
	margin-top: -4px !important;
}
.add{
	color: green !important;
}
ul li a{
	display: block !important;
	padding: 30px !important;
}
.loginform{
	width: 400px;
	margin: 0 auto;
	margin-top: 40px;
}
.login_heading{
	font-size: 22px;
	margin-bottom: 40px;
	color: #E04836;
}
select#gender,select#typeselector{
	width: 200px;
}
.wrapper{
	width: 400px;
	margin: 0 auto;
	margin-top: 40px;
}
.myhidden{
	display: none;
}
.red{
	color: red;
}
.small{
	font-size: 12px;
}
.erroritem{
	color:red;
	margin-bottom: 10px;
}
#phoneadd{
	display: block;
	margin: 10px 0;
	cursor: pointer;
}
.mybtn {
	display: block;
	padding: 30px;
	width: 250px;
	margin-top: 40px;
	font-size: 15px;
	text-align: center;
	background-color: hsl(0, 0%, 16%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5b5b5b", endColorstr="#282828");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#5b5b5b), to(#282828));
	background-image: -moz-linear-gradient(top, #5b5b5b, #282828);
	background-image: -ms-linear-gradient(top, #5b5b5b, #282828);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5b5b5b), color-stop(100%, #282828));
	background-image: -webkit-linear-gradient(top, #5b5b5b, #282828);
	background-image: -o-linear-gradient(top, #5b5b5b, #282828);
	background-image: linear-gradient(#5b5b5b, #282828);
	border-color: #282828 #282828 hsl(0, 0%, 11%);
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
	-webkit-font-smoothing: antialiased;
}
.mybtn:hover{
	background-color: hsl(110, 56%, 16%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#398f28", endColorstr="#193f11");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#398f28), to(#193f11));
	background-image: -moz-linear-gradient(top, #398f28, #193f11);
	background-image: -ms-linear-gradient(top, #398f28, #193f11);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #398f28), color-stop(100%, #193f11));
	background-image: -webkit-linear-gradient(top, #398f28, #193f11);
	background-image: -o-linear-gradient(top, #398f28, #193f11);
	background-image: linear-gradient(#398f28, #193f11);
	border-color: #193f11 #193f11 hsl(110, 56%, 11%);
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
	-webkit-font-smoothing: antialiased;
	text-decoration: none;
}
.orange{
	border:2px solid orange;
}
.alert{
	color:green;
}
.leftfive{
	margin-left: 5px;
	cursor: pointer;
}
.myphone{
	margin-left: 0;
}
.myphone ~ .myphone{
	margin-left: 169px;
	margin-top: 10px;
}
.filtration{
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left: 50px;
}
.filtration a{
	color: #E04836;
}
#filterskills{
	cursor: pointer;
}
.skills_wrapper{
	margin-top: 30px;
	padding: 20px;
	padding-bottom: 10px;
	display: none;
}
.filterlevel{
	width: 90px !important;
	font-size:12px;
	visibility: hidden;
	margin-top: 5px;
}
.clear{
	clear: both;
}
.nopadding{
	padding: 0;
}
.icheckbox_square-red, .iradio_square-red{
	margin-right: 3px !important;
}
.columnwrap{
	margin-bottom: 25px;
}
.content{
	width: 1000px;
	margin-left: 250px;
	margin-top: 40px;
}
.profilewrapper{
	margin-left: 50px;
	margin-top: 20px;
	margin-bottom: 40px;
}
.profilewrapper:last-child{
	margin-bottom: 0;
}
.profileimage{
	margin-right: 10px;
	display: block;
}
.profileinfowrapper{

}
.profileinfowrapper a{
	color: black;
	font-size: 27px;
	display: inline-block;
	line-height: 27px;
}
.profileinfowrapper a:hover{
	color: #E04836;
	text-decoration: none;
}
.profileinfowrapper a:active{
	text-decoration: none;
}
a:-webkit-any-link{
	text-decoration: none;
}

.skilllist{
	margin-top: 20px;
	margin-bottom: 10px;
}
.skilllist span, .trainingslist span{
	background: #7F46DD;
	color: white;
	padding: 5px;
	border-radius: 5px;
}
.skill_item{
	margin-bottom: 15px;
}
.skill_name{
	width: 80px;
	text-align: center;
	background: #7F46DD;
	color: white;
	padding: 5px;
	border-radius: 5px;
	margin-top: 2px;
}
.skill_level{
	width: 40px;
	text-align: center;
	font-family: Comic Sans MS;
	margin-left: 40px;
	height: 35px;
	padding-top: 5px;
	font-size: 17px;
	background: #E04836 !important;
	border-radius: 62px !important;
	color: white;
}
.trainingsonprofile{
	margin-left: 40px;
	margin-top: 20px;
}
.training_name{
	width:200px;
	margin-top: 20px;
}
.training_name:first-child{
	margin-top: 0;
}
.phonesonprofile{
	margin-left: 20px;
	margin-top: 16px;
}
.phone_on_profile{
	margin-top: 20px;
	font-size: 25px;
	letter-spacing: 5px;
}
.phone_on_profile:first-child{
	margin-top: 0;
}
.jobswrapper{
	width:600px;
	word-wrap: break-word;
	margin-left: 100px;
}
.jobheading{
	margin-bottom: 20px;
	display: block;
}
.jobtext{
	margin-bottom: 20px;
}
.jobprice{
	margin-bottom: 20px;
}
.singlejobwrap{
	margin-bottom: 60px;
	border: 2px solid orange;
	padding: 20px;
}
.jobauthor{
	margin-bottom: 20px;
}
.generator_wrapper{
	width: 800px;
	margin-left: 200px;
	margin-top: 100px;
}
.link{
	width: 550px !important;
}
.generate{
	margin-left: 5px;
}
.trlist{
	margin-top: 300px;
}
.datepick{
	margin-bottom: 20px;
}
.table-condensed{
	width: 300px;
}
.day{
	cursor: pointer;
}
.day:hover{
	background: yellow;
}
th.prev, th.next{
	cursor: pointer;
}
.comment_wrapper{
	position: relative;
	border: 2px solid grey;
	margin-bottom: 20px;
	padding: 10px;
}
.comment_delete{
	display: block;
	position: absolute;
	right: 5px;
	top: 2px;
	cursor: pointer;
}
.comment_delete:hover{
	text-decoration: underline;
	color:red;
}
.comment_delete:active{
	color:red!important;
}
.comment_delete:focus{
	color:red!important;
}
.delstyle{
	color:red;
}
.bids_wrapper{
	margin-top: 20px;
	margin-bottom: 20px;
}
.single_bid{
	margin-bottom: 20px;
}
.bid_price{
	margin-top: 10px;
	margin-bottom: 10px;
}
.auth_btn{
	padding: 6px 12px;
}